<div class="well">
  <h3>Privileged Sessions</h3>

  <p>
    Based on <a href="https://github.com/blog/1661-modeling-your-app-s-user-session">https://github.com/blog/1661-modeling-your-app-s-user-session</a>.
  </p>
</div>
