<div class="well">
  <h3>Privileged Sessions</h3>

  <p>
    Based on <a href="https://github.com/blog/1661-modeling-your-app-s-user-session">https://github.com/blog/1661-modeling-your-app-s-user-session</a>.
  </p>

  <p>Feel free to <%= link_to 'sign up', new_user_registration_path %> with a fake email address and try it out.</p>
</div>
